body {
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #fff !important;
  box-shadow: 0 4px 10px #ff69b4;
  transition: background-color 0.3s ease;
}

.navbar .nav-link {
  color: #ff69b4;
  transition: color 0.3s ease;
}

.navbar.scrolled .nav-link {
  color: #ff69b4; 
}

.navbar .nav-link:hover {
  color: #004080;
}

/* Slider de propaganda */
.slider-track-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 105, 180, 0.3);
}

.slider-track {
  display: flex;
  gap: 1rem;
  animation: scrollSlider 120s linear infinite;
  padding: 1rem 0;
  width: max-content;
}

.slider-track img {
  height: 200px;
  flex: 0 0 auto;
  width: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(67, 134, 206, 0.3);
  transition: transform 0.3s ease;
}

.slider-track img:hover {
  transform: scale(1.05);
}

@keyframes scrollSlider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
